USE [10K]
GO
/****** Object:  Schema [cb]    Script Date: 2/4/2026 10:41:13 AM ******/
CREATE SCHEMA [cb]
GO
/****** Object:  Schema [etl]    Script Date: 2/4/2026 10:41:13 AM ******/
CREATE SCHEMA [etl]
GO
/****** Object:  Schema [stg]    Script Date: 2/4/2026 10:41:13 AM ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Table [cb].[Acquisition]    Script Date: 2/4/2026 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Acquisition](
	[AcquisitionId] [int] NOT NULL,
	[AcquirerOrganizationId] [int] NULL,
	[AcquireeOrganizationId] [int] NULL,
	[AnnouncedOn] [date] NULL,
	[AnnouncedOnPrecision] [nvarchar](32) NULL,
	[CompletedOn] [date] NULL,
	[CompletedOnPrecision] [nvarchar](32) NULL,
	[AcquisitionType] [nvarchar](64) NULL,
	[PriceValue] [bigint] NULL,
	[PriceCurrency] [nvarchar](16) NULL,
	[PriceUsd] [bigint] NULL,
	[PaymentType] [nvarchar](64) NULL,
	[DispositionOfAcquired] [nvarchar](128) NULL,
	[AcquisitionStatus] [nvarchar](64) NULL,
	[TermsJson] [nvarchar](max) NULL,
	[RankAcquisition] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Acquisition] PRIMARY KEY CLUSTERED 
(
	[AcquisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[AcquisitionMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[AcquisitionMetrics](
	[AcquisitionId] [int] NOT NULL,
	[RankAcquisition] [int] NULL,
	[PriceUsd] [bigint] NULL,
	[AcquisitionStatus] [nvarchar](64) NULL,
	[DispositionOfAcquired] [nvarchar](128) NULL,
	[IsUndisclosed] [bit] NULL,
	[TermsJson] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_AcquisitionMetrics] PRIMARY KEY CLUSTERED 
(
	[AcquisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[AcquisitionParticipant]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[AcquisitionParticipant](
	[AcquisitionParticipantId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcquisitionId] [int] NOT NULL,
	[ParticipantEntityId] [int] NOT NULL,
	[Role] [nvarchar](64) NULL,
	[SequenceNum] [int] NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_AcquisitionParticipant] PRIMARY KEY CLUSTERED 
(
	[AcquisitionParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Address]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Address](
	[AddressId] [bigint] IDENTITY(1,1) NOT NULL,
	[Street1] [nvarchar](256) NULL,
	[Street2] [nvarchar](256) NULL,
	[City] [nvarchar](128) NULL,
	[Region] [nvarchar](128) NULL,
	[PostalCode] [nvarchar](32) NULL,
	[Country] [nvarchar](128) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[RawText] [nvarchar](512) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Category]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Category](
	[CategoryUuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Permalink] [nvarchar](256) NULL,
	[ImageId] [nvarchar](512) NULL,
	[CreatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[CategoryGroup]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[CategoryGroup](
	[CategoryGroupUuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Permalink] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_CategoryGroup] PRIMARY KEY CLUSTERED 
(
	[CategoryGroupUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[ContactPoint]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[ContactPoint](
	[ContactPointId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContactType] [nvarchar](64) NOT NULL,
	[ContactValue] [nvarchar](512) NOT NULL,
	[NormalizedValue] [nvarchar](512) NULL,
	[Source] [nvarchar](64) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_ContactPoint] PRIMARY KEY CLUSTERED 
(
	[ContactPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Degree]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Degree](
	[DegreeId] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[SchoolName] [nvarchar](512) NULL,
	[Subject] [nvarchar](512) NULL,
	[DegreeType] [nvarchar](128) NULL,
	[StartedOn] [date] NULL,
	[StartedOnPrecision] [nvarchar](32) NULL,
	[CompletedOn] [date] NULL,
	[CompletedOnPrecision] [nvarchar](32) NULL,
	[LocationText] [nvarchar](512) NULL,
	[Description] [nvarchar](2000) NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_Degree] PRIMARY KEY CLUSTERED 
(
	[DegreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EmployeeCountRange]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EmployeeCountRange](
	[NumEmployeesEnum] [nvarchar](64) NOT NULL,
	[MinEmployees] [int] NULL,
	[MaxEmployees] [int] NULL,
	[Label] [nvarchar](128) NULL,
 CONSTRAINT [PK_cb_EmployeeCountRange] PRIMARY KEY CLUSTERED 
(
	[NumEmployeesEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Entity]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Entity](
	[EntityId] [int] IDENTITY(1,1) NOT NULL,
	[Uuid] [uniqueidentifier] NOT NULL,
	[EntityDefId] [nvarchar](64) NULL,
	[EntityType] [nvarchar](64) NULL,
	[Permalink] [nvarchar](256) NULL,
	[IdentifierValue] [nvarchar](512) NULL,
	[DisplayName] [nvarchar](512) NULL,
	[LegalName] [nvarchar](512) NULL,
	[ShortDescription] [nvarchar](2000) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageId] [nvarchar](512) NULL,
	[ImageUrl] [nvarchar](4000) NULL,
	[WebsiteUrl] [nvarchar](4000) NULL,
	[LinkedinUrl] [nvarchar](4000) NULL,
	[TwitterUrl] [nvarchar](4000) NULL,
	[FacebookUrl] [nvarchar](4000) NULL,
	[Rank] [float] NULL,
	[RankDeltaD7] [float] NULL,
	[RankDeltaD30] [float] NULL,
	[RankDeltaD90] [float] NULL,
	[NumArticles] [int] NULL,
	[Status] [nvarchar](64) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[City] [nvarchar](128) NULL,
	[Region] [nvarchar](128) NULL,
	[Country] [nvarchar](128) NULL,
	[FacetIdsJson] [nvarchar](max) NULL,
	[AliasesJson] [nvarchar](max) NULL,
	[PermalinkAliasesJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_cb_Entity] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityAddress]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityAddress](
	[EntityId] [int] NOT NULL,
	[AddressId] [bigint] NOT NULL,
	[AddressType] [nvarchar](64) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityAddress] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[AddressType] ASC,
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityAlias]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityAlias](
	[EntityId] [int] NOT NULL,
	[Alias] [nvarchar](512) NOT NULL,
	[AliasType] [nvarchar](64) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityAlias] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[AliasType] ASC,
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityCategory]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityCategory](
	[EntityId] [int] NOT NULL,
	[CategoryUuid] [uniqueidentifier] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityCategory] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[CategoryUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityCategoryGroup]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityCategoryGroup](
	[EntityId] [int] NOT NULL,
	[CategoryGroupUuid] [uniqueidentifier] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityCategoryGroup] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[CategoryGroupUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityContactPoint]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityContactPoint](
	[EntityId] [int] NOT NULL,
	[ContactPointId] [bigint] NOT NULL,
	[ContactType] [nvarchar](64) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityContactPoint] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[ContactType] ASC,
	[ContactPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityFacet]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityFacet](
	[EntityId] [int] NOT NULL,
	[FacetId] [nvarchar](64) NOT NULL,
	[FacetType] [nvarchar](64) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityFacet] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[FacetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityImage]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityImage](
	[EntityId] [int] NOT NULL,
	[ImageId] [nvarchar](512) NOT NULL,
	[ImageRole] [nvarchar](64) NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityImage] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityKeyword]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityKeyword](
	[EntityId] [int] NOT NULL,
	[KeywordId] [int] NOT NULL,
	[Weight] [float] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityKeyword] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityLocation]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityLocation](
	[EntityId] [int] NOT NULL,
	[LocationUuid] [uniqueidentifier] NOT NULL,
	[LocationType] [nvarchar](64) NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityLocation] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[LocationUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityPressReference]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityPressReference](
	[EntityId] [int] NOT NULL,
	[PressReferenceId] [bigint] NOT NULL,
	[RelationType] [nvarchar](64) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityPressReference] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[PressReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityRawJson]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityRawJson](
	[SourceEndpoint] [nvarchar](64) NOT NULL,
	[FilePath] [nvarchar](512) NOT NULL,
	[RowNumber] [bigint] NOT NULL,
	[Uuid] [uniqueidentifier] NULL,
	[IngestedAt] [datetime2](0) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_cb_EntityRawJson] PRIMARY KEY CLUSTERED 
(
	[SourceEndpoint] ASC,
	[FilePath] ASC,
	[RowNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[EntityUrl]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EntityUrl](
	[EntityId] [int] NOT NULL,
	[UrlId] [int] NOT NULL,
	[UrlType] [nvarchar](64) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EntityUrl] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC,
	[UrlType] ASC,
	[UrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Event]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Event](
	[EventId] [int] NOT NULL,
	[EventTypeJson] [nvarchar](max) NULL,
	[EventFormat] [nvarchar](64) NULL,
	[StartsOn] [date] NULL,
	[EndsOn] [date] NULL,
	[EventStatus] [nvarchar](64) NULL,
	[EventUrl] [nvarchar](4000) NULL,
	[RegistrationUrl] [nvarchar](4000) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[VenueName] [nvarchar](512) NULL,
 CONSTRAINT [PK_cb_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[EventAppearance]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EventAppearance](
	[EventAppearanceId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[AppearingEntityId] [int] NOT NULL,
	[AppearanceType] [nvarchar](64) NULL,
	[Role] [nvarchar](64) NULL,
	[Title] [nvarchar](256) NULL,
	[SequenceNum] [int] NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EventAppearance] PRIMARY KEY CLUSTERED 
(
	[EventAppearanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EventMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EventMetrics](
	[EventId] [int] NOT NULL,
	[RankEvent] [float] NULL,
	[RankDeltaD7] [float] NULL,
	[RankDeltaD30] [float] NULL,
	[RankDeltaD90] [float] NULL,
	[NumSpeakers] [int] NULL,
	[NumOrganizers] [int] NULL,
	[NumSponsors] [int] NULL,
	[NumExhibitors] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[NumContestants] [int] NULL,
 CONSTRAINT [PK_cb_EventMetrics] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[EventParticipant]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[EventParticipant](
	[EventParticipantId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[ParticipantEntityId] [int] NOT NULL,
	[Role] [nvarchar](64) NULL,
	[Title] [nvarchar](256) NULL,
	[IsPrimary] [bit] NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_EventParticipant] PRIMARY KEY CLUSTERED 
(
	[EventParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Exchange]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Exchange](
	[ExchangeId] [int] IDENTITY(1,1) NOT NULL,
	[ExchangeSymbol] [nvarchar](32) NOT NULL,
	[ExchangeName] [nvarchar](256) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[MicCode] [nvarchar](32) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_Exchange] PRIMARY KEY CLUSTERED 
(
	[ExchangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[FundingRound]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[FundingRound](
	[FundingRoundId] [int] NOT NULL,
	[AnnouncedOn] [date] NULL,
	[InvestmentType] [nvarchar](64) NULL,
	[InvestmentStage] [nvarchar](64) NULL,
	[IsEquity] [bit] NULL,
	[MoneyRaisedValue] [bigint] NULL,
	[MoneyRaisedCurrency] [nvarchar](16) NULL,
	[MoneyRaisedUsd] [bigint] NULL,
	[FundedOrganizationId] [int] NULL,
	[FundingStage] [nvarchar](64) NULL,
	[FundedOrgRevenueRange] [nvarchar](64) NULL,
	[FundedOrgFundingTotalUsd] [bigint] NULL,
	[FundedOrgDescription] [nvarchar](2000) NULL,
	[RankFundingRound] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[ClosedOn] [date] NULL,
	[PreMoneyValuationUsd] [bigint] NULL,
	[PostMoneyValuationUsd] [bigint] NULL,
	[TargetMoneyRaisedUsd] [bigint] NULL,
	[InvestorIdentifiersJson] [nvarchar](max) NULL,
	[LeadInvestorIdentifiersJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_cb_FundingRound] PRIMARY KEY CLUSTERED 
(
	[FundingRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[FundingRoundInvestor]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[FundingRoundInvestor](
	[FundingRoundInvestorId] [bigint] IDENTITY(1,1) NOT NULL,
	[FundingRoundId] [int] NOT NULL,
	[InvestorEntityId] [int] NOT NULL,
	[IsLeadInvestor] [bit] NULL,
	[Role] [nvarchar](64) NULL,
	[PartnerOrder] [int] NULL,
	[AmountUsd] [bigint] NULL,
	[AmountValue] [bigint] NULL,
	[AmountCurrency] [nvarchar](16) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_FundingRoundInvestor] PRIMARY KEY CLUSTERED 
(
	[FundingRoundInvestorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[FundingRoundMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[FundingRoundMetrics](
	[FundingRoundId] [int] NOT NULL,
	[RankFundingRound] [int] NULL,
	[NumInvestors] [int] NULL,
	[NumLeadInvestors] [int] NULL,
	[MoneyRaisedUsd] [bigint] NULL,
	[IsEquity] [bit] NULL,
	[NumPartners] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_FundingRoundMetrics] PRIMARY KEY CLUSTERED 
(
	[FundingRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Image]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Image](
	[ImageId] [nvarchar](512) NOT NULL,
	[ImageUrl] [nvarchar](2048) NULL,
	[Source] [nvarchar](64) NULL,
	[CreatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Investment]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Investment](
	[InvestmentId] [int] NOT NULL,
	[FundingRoundId] [int] NULL,
	[InvestorEntityId] [int] NULL,
	[OrganizationId] [int] NULL,
	[AnnouncedOn] [date] NULL,
	[Role] [nvarchar](64) NULL,
	[InvestorTypeJson] [nvarchar](max) NULL,
	[FundingRoundInvestmentType] [nvarchar](64) NULL,
	[FundingRoundMoneyRaisedUsd] [bigint] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Investment] PRIMARY KEY CLUSTERED 
(
	[InvestmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[InvestmentMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[InvestmentMetrics](
	[InvestmentId] [int] NOT NULL,
	[IsLeadInvestor] [bit] NULL,
	[AmountUsd] [bigint] NULL,
	[PartnerCount] [int] NULL,
	[InvestorTypeJson] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_InvestmentMetrics] PRIMARY KEY CLUSTERED 
(
	[InvestmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cb].[InvestmentPartner]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[InvestmentPartner](
	[InvestmentPartnerId] [bigint] IDENTITY(1,1) NOT NULL,
	[InvestmentId] [int] NOT NULL,
	[PartnerEntityId] [int] NOT NULL,
	[Role] [nvarchar](64) NULL,
	[SequenceNum] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_InvestmentPartner] PRIMARY KEY CLUSTERED 
(
	[InvestmentPartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Job]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Job](
	[JobId] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[OrganizationId] [int] NULL,
	[Title] [nvarchar](256) NULL,
	[JobType] [nvarchar](64) NULL,
	[StartedOn] [date] NULL,
	[StartedOnPrecision] [nvarchar](32) NULL,
	[EndedOn] [date] NULL,
	[EndedOnPrecision] [nvarchar](32) NULL,
	[IsCurrent] [bit] NULL,
	[LocationText] [nvarchar](512) NULL,
	[Description] [nvarchar](2000) NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_Job] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Keyword]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Keyword](
	[KeywordId] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_Keyword] PRIMARY KEY CLUSTERED 
(
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[LoadCursor]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[LoadCursor](
	[LoaderName] [sysname] NOT NULL,
	[LastRowId] [bigint] NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_cb_LoadCursor] PRIMARY KEY CLUSTERED 
(
	[LoaderName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Location]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Location](
	[LocationUuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Permalink] [nvarchar](256) NULL,
	[EntityDefId] [nvarchar](64) NULL,
	[LocationType] [nvarchar](64) NULL,
	[CreatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Location] PRIMARY KEY CLUSTERED 
(
	[LocationUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Organization]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Organization](
	[OrganizationId] [int] NOT NULL,
	[CompanyType] [nvarchar](64) NULL,
	[OperatingStatus] [nvarchar](64) NULL,
	[IpoStatus] [nvarchar](64) NULL,
	[FoundedOn] [date] NULL,
	[FoundedOnPrecision] [nvarchar](32) NULL,
	[ClosedOn] [date] NULL,
	[ClosedOnPrecision] [nvarchar](32) NULL,
	[RevenueRangeCode] [nvarchar](64) NULL,
	[NumEmployeesEnum] [nvarchar](64) NULL,
	[HeadquartersText] [nvarchar](512) NULL,
	[ContactEmail] [nvarchar](512) NULL,
	[PhoneNumber] [nvarchar](128) NULL,
	[HomepageUrl] [nvarchar](4000) NULL,
	[FundingStage] [nvarchar](64) NULL,
	[FundingTotalValue] [bigint] NULL,
	[FundingTotalCurrency] [nvarchar](16) NULL,
	[FundingTotalUsd] [bigint] NULL,
	[LastFundingAt] [date] NULL,
	[LastFundingType] [nvarchar](64) NULL,
	[StockExchangeSymbol] [nvarchar](32) NULL,
	[StockSymbol] [nvarchar](64) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[OrganizationFounder]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[OrganizationFounder](
	[OrganizationFounderId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[Title] [nvarchar](256) NULL,
	[IsPrimary] [bit] NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_OrganizationFounder] PRIMARY KEY CLUSTERED 
(
	[OrganizationFounderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[OrganizationMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[OrganizationMetrics](
	[OrganizationId] [int] NOT NULL,
	[Rank] [float] NULL,
	[RankDeltaD7] [float] NULL,
	[RankDeltaD30] [float] NULL,
	[RankDeltaD90] [float] NULL,
	[NumFundingRounds] [int] NULL,
	[NumInvestments] [int] NULL,
	[NumLeadInvestments] [int] NULL,
	[NumAcquisitions] [int] NULL,
	[NumExits] [int] NULL,
	[NumArticles] [int] NULL,
	[NumEmployeesMin] [int] NULL,
	[NumEmployeesMax] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_OrganizationMetrics] PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[OrganizationRelation]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[OrganizationRelation](
	[OrganizationRelationId] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentOrganizationId] [int] NOT NULL,
	[ChildOrganizationId] [int] NOT NULL,
	[RelationType] [nvarchar](64) NOT NULL,
	[StartedOn] [date] NULL,
	[EndedOn] [date] NULL,
	[SourceUrlId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_OrganizationRelation] PRIMARY KEY CLUSTERED 
(
	[OrganizationRelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Person]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Person](
	[PersonId] [int] NOT NULL,
	[FirstName] [nvarchar](256) NULL,
	[MiddleName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[Gender] [nvarchar](32) NULL,
	[BornOn] [date] NULL,
	[BornOnPrecision] [nvarchar](32) NULL,
	[DiedOn] [date] NULL,
	[DiedOnPrecision] [nvarchar](32) NULL,
	[PrimaryOrganizationId] [int] NULL,
	[PrimaryJobTitle] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_cb_Person] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[PersonMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[PersonMetrics](
	[PersonId] [int] NOT NULL,
	[RankPerson] [float] NULL,
	[RankDeltaD7] [float] NULL,
	[RankDeltaD30] [float] NULL,
	[RankDeltaD90] [float] NULL,
	[NumJobs] [int] NULL,
	[NumCurrentJobs] [int] NULL,
	[NumPastJobs] [int] NULL,
	[NumFoundedOrganizations] [int] NULL,
	[NumInvestments] [int] NULL,
	[NumLeadInvestments] [int] NULL,
	[NumArticles] [int] NULL,
	[NumExits] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[NumCurrentAdvisorJobs] [int] NULL,
	[NumPastAdvisorJobs] [int] NULL,
	[NumEventAppearances] [int] NULL,
	[NumPortfolioOrganizations] [int] NULL,
	[NumPartnerInvestments] [int] NULL,
	[NumDiversitySpotlightInvestments] [int] NULL,
	[NumExitsIpo] [int] NULL,
 CONSTRAINT [PK_cb_PersonMetrics] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[PressReference]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[PressReference](
	[PressReferenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NULL,
	[UrlId] [int] NULL,
	[Publisher] [nvarchar](256) NULL,
	[Author] [nvarchar](256) NULL,
	[Language] [nvarchar](32) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[PublishedOn] [date] NULL,
	[PublishedOnPrecision] [nvarchar](32) NULL,
	[ImageId] [nvarchar](512) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_PressReference] PRIMARY KEY CLUSTERED 
(
	[PressReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[RevenueRange]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[RevenueRange](
	[RevenueRangeCode] [nvarchar](64) NOT NULL,
	[MinUsd] [bigint] NULL,
	[MaxUsd] [bigint] NULL,
	[Label] [nvarchar](128) NULL,
 CONSTRAINT [PK_cb_RevenueRange] PRIMARY KEY CLUSTERED 
(
	[RevenueRangeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[SecurityIdentifier]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[SecurityIdentifier](
	[SecurityIdentifierId] [bigint] IDENTITY(1,1) NOT NULL,
	[StockListingId] [bigint] NOT NULL,
	[IdentifierType] [nvarchar](32) NOT NULL,
	[IdentifierValue] [nvarchar](128) NOT NULL,
	[CountryCode] [nvarchar](10) NULL,
	[Source] [nvarchar](64) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_SecurityIdentifier] PRIMARY KEY CLUSTERED 
(
	[SecurityIdentifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[StockListing]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[StockListing](
	[StockListingId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[ExchangeId] [int] NULL,
	[Ticker] [nvarchar](64) NULL,
	[WentPublicOn] [date] NULL,
	[WentPublicOnPrecision] [nvarchar](32) NULL,
	[IsActive] [bit] NULL,
	[DelistedOn] [date] NULL,
	[DelistedOnPrecision] [nvarchar](32) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_StockListing] PRIMARY KEY CLUSTERED 
(
	[StockListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[StockMetrics]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[StockMetrics](
	[StockListingId] [bigint] NOT NULL,
	[MetricDate] [date] NOT NULL,
	[MarketCapUsd] [bigint] NULL,
	[SharesOutstanding] [bigint] NULL,
	[AvgVolume30d] [bigint] NULL,
	[Beta] [float] NULL,
	[PeRatio] [float] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_StockMetrics] PRIMARY KEY CLUSTERED 
(
	[StockListingId] ASC,
	[MetricDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[StockPriceDaily]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[StockPriceDaily](
	[StockListingId] [bigint] NOT NULL,
	[PriceDate] [date] NOT NULL,
	[OpenPrice] [decimal](19, 6) NULL,
	[ClosePrice] [decimal](19, 6) NULL,
	[HighPrice] [decimal](19, 6) NULL,
	[LowPrice] [decimal](19, 6) NULL,
	[Volume] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_StockPriceDaily] PRIMARY KEY CLUSTERED 
(
	[StockListingId] ASC,
	[PriceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cb].[Url]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cb].[Url](
	[UrlId] [int] IDENTITY(1,1) NOT NULL,
	[UrlHash] [varbinary](16) NOT NULL,
	[Url] [nvarchar](4000) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cb_Url] PRIMARY KEY CLUSTERED 
(
	[UrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [etl].[LoadState]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [etl].[LoadState](
	[StageTable] [nvarchar](200) NOT NULL,
	[LastFilePath] [nvarchar](512) NOT NULL,
	[LastRowId] [bigint] NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_etl_LoadState] PRIMARY KEY CLUSTERED 
(
	[StageTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [etl].[UrlLinkState]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [etl].[UrlLinkState](
	[StateKey] [nvarchar](64) NOT NULL,
	[LastId] [int] NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_etl_UrlLinkState] PRIMARY KEY CLUSTERED 
(
	[StateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[AcquisitionsJsonl]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[AcquisitionsJsonl](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](4000) NOT NULL,
	[LoadedAt] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [stg].[CompaniesJsonl]    Script Date: 2/4/2026 10:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[CompaniesJsonl](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](4000) NOT NULL,
	[LoadedAt] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [stg].[EventsJsonl]    Script Date: 2/4/2026 10:41:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[EventsJsonl](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](4000) NOT NULL,
	[LoadedAt] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [stg].[FundingRoundsJsonl]    Script Date: 2/4/2026 10:41:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FundingRoundsJsonl](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](4000) NOT NULL,
	[LoadedAt] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [stg].[InvestmentsJsonl]    Script Date: 2/4/2026 10:41:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[InvestmentsJsonl](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](4000) NOT NULL,
	[LoadedAt] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [stg].[PeopleJsonl]    Script Date: 2/4/2026 10:41:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[PeopleJsonl](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](4000) NOT NULL,
	[LoadedAt] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cb].[AcquisitionParticipant] ADD  CONSTRAINT [DF_cb_AcquisitionParticipant_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Address] ADD  CONSTRAINT [DF_cb_Address_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[ContactPoint] ADD  CONSTRAINT [DF_cb_ContactPoint_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Degree] ADD  CONSTRAINT [DF_cb_Degree_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Entity] ADD  CONSTRAINT [DF_cb_Entity_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [cb].[EntityAddress] ADD  CONSTRAINT [DF_cb_EntityAddress_IsPrimary]  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityAddress] ADD  CONSTRAINT [DF_cb_EntityAddress_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityAlias] ADD  CONSTRAINT [DF_cb_EntityAlias_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityCategory] ADD  CONSTRAINT [DF_cb_EntityCategory_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityCategory] ADD  CONSTRAINT [DF_cb_EntityCategory_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityCategoryGroup] ADD  CONSTRAINT [DF_cb_EntityCategoryGroup_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityCategoryGroup] ADD  CONSTRAINT [DF_cb_EntityCategoryGroup_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityContactPoint] ADD  CONSTRAINT [DF_cb_EntityContactPoint_IsPrimary]  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityContactPoint] ADD  CONSTRAINT [DF_cb_EntityContactPoint_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityFacet] ADD  CONSTRAINT [DF_cb_EntityFacet_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityImage] ADD  CONSTRAINT [DF_cb_EntityImage_IsPrimary]  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityImage] ADD  CONSTRAINT [DF_cb_EntityImage_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityKeyword] ADD  CONSTRAINT [DF_cb_EntityKeyword_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityLocation] ADD  CONSTRAINT [DF_cb_EntityLocation_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityLocation] ADD  CONSTRAINT [DF_cb_EntityLocation_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityPressReference] ADD  CONSTRAINT [DF_cb_EntityPressReference_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EntityRawJson] ADD  CONSTRAINT [DF_cb_EntityRawJson_IngestedAt]  DEFAULT (sysutcdatetime()) FOR [IngestedAt]
GO
ALTER TABLE [cb].[EntityUrl] ADD  CONSTRAINT [DF_cb_EntityUrl_IsPrimary]  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [cb].[EntityUrl] ADD  CONSTRAINT [DF_cb_EntityUrl_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EventAppearance] ADD  CONSTRAINT [DF_cb_EventAppearance_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[EventParticipant] ADD  CONSTRAINT [DF_cb_EventParticipant_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Exchange] ADD  CONSTRAINT [DF_cb_Exchange_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[FundingRoundInvestor] ADD  CONSTRAINT [DF_cb_FundingRoundInvestor_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[InvestmentPartner] ADD  CONSTRAINT [DF_cb_InvestmentPartner_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Job] ADD  CONSTRAINT [DF_cb_Job_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Keyword] ADD  CONSTRAINT [DF_cb_Keyword_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[LoadCursor] ADD  CONSTRAINT [DF_cb_LoadCursor_LastRowId]  DEFAULT ((0)) FOR [LastRowId]
GO
ALTER TABLE [cb].[LoadCursor] ADD  CONSTRAINT [DF_cb_LoadCursor_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [cb].[OrganizationFounder] ADD  CONSTRAINT [DF_cb_OrganizationFounder_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[OrganizationRelation] ADD  CONSTRAINT [DF_cb_OrganizationRelation_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[PressReference] ADD  CONSTRAINT [DF_cb_PressReference_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[SecurityIdentifier] ADD  CONSTRAINT [DF_cb_SecurityIdentifier_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[StockListing] ADD  CONSTRAINT [DF_cb_StockListing_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[StockMetrics] ADD  CONSTRAINT [DF_cb_StockMetrics_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[StockPriceDaily] ADD  CONSTRAINT [DF_cb_StockPriceDaily_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [cb].[Url] ADD  CONSTRAINT [DF_cb_Url_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [etl].[LoadState] ADD  CONSTRAINT [DF_etl_LoadState_LastFilePath]  DEFAULT (N'') FOR [LastFilePath]
GO
ALTER TABLE [etl].[LoadState] ADD  CONSTRAINT [DF_etl_LoadState_LastRowId]  DEFAULT ((0)) FOR [LastRowId]
GO
ALTER TABLE [etl].[LoadState] ADD  CONSTRAINT [DF_etl_LoadState_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [etl].[UrlLinkState] ADD  CONSTRAINT [DF_etl_UrlLinkState_LastId]  DEFAULT ((0)) FOR [LastId]
GO
ALTER TABLE [etl].[UrlLinkState] ADD  CONSTRAINT [DF_etl_UrlLinkState_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [stg].[AcquisitionsJsonl] ADD  DEFAULT (sysutcdatetime()) FOR [LoadedAt]
GO
ALTER TABLE [stg].[CompaniesJsonl] ADD  DEFAULT (sysutcdatetime()) FOR [LoadedAt]
GO
ALTER TABLE [stg].[EventsJsonl] ADD  DEFAULT (sysutcdatetime()) FOR [LoadedAt]
GO
ALTER TABLE [stg].[FundingRoundsJsonl] ADD  DEFAULT (sysutcdatetime()) FOR [LoadedAt]
GO
ALTER TABLE [stg].[InvestmentsJsonl] ADD  DEFAULT (sysutcdatetime()) FOR [LoadedAt]
GO
ALTER TABLE [stg].[PeopleJsonl] ADD  DEFAULT (sysutcdatetime()) FOR [LoadedAt]
GO
/****** Object:  StoredProcedure [cb].[usp_GetOrganizationDetail]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 8. ORGANIZATION DETAIL PAGE
-- ============================================================================
-- Aggregates all related data for an organization profile
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_GetOrganizationDetail]
    @EntityId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Main entity + organization + metrics
    SELECT 
        e.*,
        o.*,
        m.*
    FROM cb.Entity e
    INNER JOIN cb.Organization o ON e.EntityId = o.OrganizationId
    INNER JOIN cb.OrganizationMetrics m ON o.OrganizationId = m.OrganizationId
    WHERE e.EntityId = @EntityId
      AND e.EntityType = 'organization'
      AND e.IsDeleted = 0;
    
    -- Locations
    SELECT l.*, el.IsPrimary, el.LocationType
    FROM cb.EntityLocation el
    INNER JOIN cb.Location l ON el.LocationUuid = l.LocationUuid
    WHERE el.EntityId = @EntityId;
    
    -- Categories
    SELECT c.*, ec.IsPrimary
    FROM cb.EntityCategory ec
    INNER JOIN cb.Category c ON ec.CategoryUuid = c.CategoryUuid
    WHERE ec.EntityId = @EntityId;
    
    -- Founders
    SELECT 
        p.*,
        e.DisplayName,
        e.Permalink,
        e.ImageUrl,
        ofr.Title AS FounderTitle,
        ofr.IsPrimary AS IsPrimaryFounder
    FROM cb.OrganizationFounder ofr
    INNER JOIN cb.Person p ON ofr.PersonId = p.PersonId
    INNER JOIN cb.Entity e ON p.PersonId = e.EntityId
    WHERE ofr.OrganizationId = @EntityId;
    
    -- Funding Rounds
    SELECT fr.*, m.*
    FROM cb.FundingRound fr
    INNER JOIN cb.FundingRoundMetrics m ON fr.FundingRoundId = m.FundingRoundId
    WHERE fr.FundedOrganizationId = @EntityId
    ORDER BY fr.AnnouncedOn DESC;
    
    -- Investments Made (as investor)
    SELECT i.*, ie.DisplayName AS FundedOrgName, ie.Permalink AS FundedOrgPermalink
    FROM cb.Investment i
    INNER JOIN cb.Entity ie ON i.OrganizationId = ie.EntityId
    WHERE i.InvestorEntityId = @EntityId
    ORDER BY i.AnnouncedOn DESC;
    
    -- Acquisitions Made (as acquirer)
    SELECT a.*, ae.DisplayName AS AcquireeName, ae.Permalink AS AcquireePermalink
    FROM cb.Acquisition a
    INNER JOIN cb.Entity ae ON a.AcquireeOrganizationId = ae.EntityId
    WHERE a.AcquirerOrganizationId = @EntityId
    ORDER BY a.AnnouncedOn DESC;
    
    -- Acquired (as acquiree)
    SELECT a.*, ae.DisplayName AS AcquirerName, ae.Permalink AS AcquirerPermalink
    FROM cb.Acquisition a
    INNER JOIN cb.Entity ae ON a.AcquirerOrganizationId = ae.EntityId
    WHERE a.AcquireeOrganizationId = @EntityId;
    
    -- Press References
    SELECT pr.*
    FROM cb.EntityPressReference epr
    INNER JOIN cb.PressReference pr ON epr.PressReferenceId = pr.PressReferenceId
    WHERE epr.EntityId = @EntityId
    ORDER BY pr.PublishedOn DESC;
    
    -- Stock Listings
    SELECT sl.*, e.ExchangeSymbol, e.ExchangeName
    FROM cb.StockListing sl
    INNER JOIN cb.Exchange e ON sl.ExchangeId = e.ExchangeId
    WHERE sl.OrganizationId = @EntityId;
END

GO
/****** Object:  StoredProcedure [cb].[usp_GlobalSearch]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 7. GLOBAL SEARCH (Across Multiple Entity Types)
-- ============================================================================
-- Searches across Organizations, People, FundingRounds, Investments, 
-- Acquisitions, Events
-- Uses Full-Text Search when available, falls back to LIKE
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_GlobalSearch]
    @SearchText NVARCHAR(512),
    @EntityTypes NVARCHAR(MAX) = NULL, -- Comma-separated: 'organization,person,event'
    @TopN INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parse entity types
    DECLARE @Types TABLE (EntityType NVARCHAR(64));
    IF @EntityTypes IS NULL
        INSERT INTO @Types VALUES ('organization'), ('person'), ('funding_round'), ('investment'), ('acquisition'), ('event')
    ELSE
        INSERT INTO @Types 
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@EntityTypes, ',');
    
    -- Search Entities
    SELECT TOP (@TopN)
        e.EntityId,
        e.Uuid,
        e.EntityType,
        e.DisplayName,
        e.Permalink,
        e.ShortDescription,
        e.ImageUrl,
        e.CountryCode,
        e.City,
        e.Rank,
        CASE 
            WHEN e.DisplayName LIKE @SearchText + '%' THEN 1  -- Exact prefix match
            WHEN e.DisplayName LIKE '%' + @SearchText + '%' THEN 2  -- Contains match
            ELSE 3  -- Full-text or other
        END AS MatchRank
    FROM cb.Entity e
    INNER JOIN @Types t ON e.EntityType = t.EntityType
    WHERE e.IsDeleted = 0
      AND (
          e.DisplayName LIKE '%' + @SearchText + '%'
          OR e.Permalink LIKE '%' + @SearchText + '%'
          OR e.IdentifierValue LIKE '%' + @SearchText + '%'
          -- Uncomment when full-text is enabled:
          -- OR CONTAINS((e.DisplayName, e.ShortDescription), @SearchText)
      )
    ORDER BY MatchRank, e.Rank;
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchAcquisitions]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 5. ACQUISITIONS LIST PAGE
-- ============================================================================
-- Filters: Date range, AcquirerId, AcquireeId, Price range, Status
-- Sort: RankAcquisition or AnnouncedOn
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchAcquisitions]
    @PageNumber INT = 1,
    @PageSize INT = 25,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @AcquirerOrganizationId INT = NULL,
    @AcquireeOrganizationId INT = NULL,
    @MinPrice BIGINT = NULL,
    @MaxPrice BIGINT = NULL,
    @AcquisitionStatus NVARCHAR(64) = NULL,
    @SortColumn NVARCHAR(64) = 'RankAcquisition',
    @SortDirection NVARCHAR(4) = 'ASC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    WITH FilteredAcquisitions AS (
        SELECT 
            a.AcquisitionId,
            a.AcquirerOrganizationId,
            a.AcquireeOrganizationId,
            a.AnnouncedOn,
            a.CompletedOn,
            a.PriceUsd,
            a.AcquisitionStatus,
            a.AcquisitionType,
            ae.DisplayName AS AcquirerName,
            ae.Permalink AS AcquirerPermalink,
            ee.DisplayName AS AcquireeName,
            ee.Permalink AS AcquireePermalink,
            m.RankAcquisition,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortColumn = 'RankAcquisition' AND @SortDirection = 'ASC' THEN m.RankAcquisition END ASC,
                    CASE WHEN @SortColumn = 'RankAcquisition' AND @SortDirection = 'DESC' THEN m.RankAcquisition END DESC,
                    CASE WHEN @SortColumn = 'AnnouncedOn' AND @SortDirection = 'ASC' THEN a.AnnouncedOn END ASC,
                    CASE WHEN @SortColumn = 'AnnouncedOn' AND @SortDirection = 'DESC' THEN a.AnnouncedOn END DESC,
                    CASE WHEN @SortColumn = 'Price' AND @SortDirection = 'ASC' THEN a.PriceUsd END ASC,
                    CASE WHEN @SortColumn = 'Price' AND @SortDirection = 'DESC' THEN a.PriceUsd END DESC
            ) AS RowNum
        FROM cb.Acquisition a
        INNER JOIN cb.AcquisitionMetrics m ON a.AcquisitionId = m.AcquisitionId
        INNER JOIN cb.Entity ae ON a.AcquirerOrganizationId = ae.EntityId
        INNER JOIN cb.Entity ee ON a.AcquireeOrganizationId = ee.EntityId
        WHERE (@FromDate IS NULL OR a.AnnouncedOn >= @FromDate)
          AND (@ToDate IS NULL OR a.AnnouncedOn <= @ToDate)
          AND (@AcquirerOrganizationId IS NULL OR a.AcquirerOrganizationId = @AcquirerOrganizationId)
          AND (@AcquireeOrganizationId IS NULL OR a.AcquireeOrganizationId = @AcquireeOrganizationId)
          AND (@MinPrice IS NULL OR a.PriceUsd >= @MinPrice)
          AND (@MaxPrice IS NULL OR a.PriceUsd <= @MaxPrice)
          AND (@AcquisitionStatus IS NULL OR a.AcquisitionStatus = @AcquisitionStatus)
    )
    SELECT *, (SELECT COUNT(*) FROM FilteredAcquisitions) AS TotalCount
    FROM FilteredAcquisitions
    WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
    ORDER BY RowNum;
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchEvents]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 6. EVENTS LIST PAGE
-- ============================================================================
-- Filters: Date range, EventType, Country/City, Participant counts
-- Sort: RankEvent or StartsOn
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchEvents]
    @PageNumber INT = 1,
    @PageSize INT = 25,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @EventTypeJson NVARCHAR(MAX) = NULL,
    @CountryCode NVARCHAR(10) = NULL,
    @MinSpeakers INT = NULL,
    @MinOrganizers INT = NULL,
    @MinSponsors INT = NULL,
    @SortColumn NVARCHAR(64) = 'RankEvent',
    @SortDirection NVARCHAR(4) = 'ASC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    WITH FilteredEvents AS (
        SELECT 
            ev.EventId,
            ev.EventTypeJson,
            ev.EventFormat,
            ev.StartsOn,
            ev.EndsOn,
            ev.EventStatus,
            ev.EventUrl,
            ev.VenueName,
            ent.DisplayName AS EventName,
            ent.Permalink,
            ent.CountryCode,
            ent.City,
            m.RankEvent,
            m.NumSpeakers,
            m.NumOrganizers,
            m.NumSponsors,
            m.NumExhibitors,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortColumn = 'RankEvent' AND @SortDirection = 'ASC' THEN m.RankEvent END ASC,
                    CASE WHEN @SortColumn = 'RankEvent' AND @SortDirection = 'DESC' THEN m.RankEvent END DESC,
                    CASE WHEN @SortColumn = 'StartsOn' AND @SortDirection = 'ASC' THEN ev.StartsOn END ASC,
                    CASE WHEN @SortColumn = 'StartsOn' AND @SortDirection = 'DESC' THEN ev.StartsOn END DESC
            ) AS RowNum
        FROM cb.Event ev
        INNER JOIN cb.Entity ent ON ev.EventId = ent.EntityId
        INNER JOIN cb.EventMetrics m ON ev.EventId = m.EventId
        WHERE (@FromDate IS NULL OR ev.StartsOn >= @FromDate)
          AND (@ToDate IS NULL OR ev.StartsOn <= @ToDate)
          AND (@EventTypeJson IS NULL OR ev.EventTypeJson LIKE '%' + @EventTypeJson + '%')
          AND (@CountryCode IS NULL OR ent.CountryCode = @CountryCode)
          AND (@MinSpeakers IS NULL OR m.NumSpeakers >= @MinSpeakers)
          AND (@MinOrganizers IS NULL OR m.NumOrganizers >= @MinOrganizers)
          AND (@MinSponsors IS NULL OR m.NumSponsors >= @MinSponsors)
          AND ent.IsDeleted = 0
    )
    SELECT *, (SELECT COUNT(*) FROM FilteredEvents) AS TotalCount
    FROM FilteredEvents
    WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
    ORDER BY RowNum;
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchFundingRounds]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 3. FUNDING ROUNDS LIST PAGE
-- ============================================================================
-- Filters: AnnouncedOn range, InvestmentType, InvestmentStage, IsEquity,
--          FundedOrganizationId, MoneyRaisedUsd range
-- Sort: RankFundingRound
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchFundingRounds]
    @PageNumber INT = 1,
    @PageSize INT = 25,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @InvestmentType NVARCHAR(64) = NULL,
    @InvestmentStage NVARCHAR(64) = NULL,
    @IsEquity BIT = NULL,
    @FundingStage NVARCHAR(64) = NULL,
    @FundedOrganizationId INT = NULL,
    @MinMoneyRaised BIGINT = NULL,
    @MaxMoneyRaised BIGINT = NULL,
    @SortColumn NVARCHAR(64) = 'RankFundingRound',
    @SortDirection NVARCHAR(4) = 'ASC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    WITH FilteredRounds AS (
        SELECT 
            fr.FundingRoundId,
            fr.AnnouncedOn,
            fr.InvestmentType,
            fr.InvestmentStage,
            fr.IsEquity,
            fr.MoneyRaisedUsd,
            fr.FundingStage,
            fr.FundedOrganizationId,
            fe.DisplayName AS FundedOrganizationName,
            fe.Permalink AS FundedOrganizationPermalink,
            m.RankFundingRound,
            m.NumInvestors,
            m.NumLeadInvestors,
            m.NumPartners,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortColumn = 'RankFundingRound' AND @SortDirection = 'ASC' THEN m.RankFundingRound END ASC,
                    CASE WHEN @SortColumn = 'RankFundingRound' AND @SortDirection = 'DESC' THEN m.RankFundingRound END DESC,
                    CASE WHEN @SortColumn = 'AnnouncedOn' AND @SortDirection = 'ASC' THEN fr.AnnouncedOn END ASC,
                    CASE WHEN @SortColumn = 'AnnouncedOn' AND @SortDirection = 'DESC' THEN fr.AnnouncedOn END DESC,
                    CASE WHEN @SortColumn = 'MoneyRaised' AND @SortDirection = 'ASC' THEN fr.MoneyRaisedUsd END ASC,
                    CASE WHEN @SortColumn = 'MoneyRaised' AND @SortDirection = 'DESC' THEN fr.MoneyRaisedUsd END DESC
            ) AS RowNum
        FROM cb.FundingRound fr
        INNER JOIN cb.FundingRoundMetrics m ON fr.FundingRoundId = m.FundingRoundId
        INNER JOIN cb.Entity fe ON fr.FundedOrganizationId = fe.EntityId
        WHERE (@FromDate IS NULL OR fr.AnnouncedOn >= @FromDate)
          AND (@ToDate IS NULL OR fr.AnnouncedOn <= @ToDate)
          AND (@InvestmentType IS NULL OR fr.InvestmentType = @InvestmentType)
          AND (@InvestmentStage IS NULL OR fr.InvestmentStage = @InvestmentStage)
          AND (@IsEquity IS NULL OR fr.IsEquity = @IsEquity)
          AND (@FundingStage IS NULL OR fr.FundingStage = @FundingStage)
          AND (@FundedOrganizationId IS NULL OR fr.FundedOrganizationId = @FundedOrganizationId)
          AND (@MinMoneyRaised IS NULL OR fr.MoneyRaisedUsd >= @MinMoneyRaised)
          AND (@MaxMoneyRaised IS NULL OR fr.MoneyRaisedUsd <= @MaxMoneyRaised)
    )
    SELECT *, (SELECT COUNT(*) FROM FilteredRounds) AS TotalCount
    FROM FilteredRounds
    WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
    ORDER BY RowNum;
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchInvestments]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 4. INVESTMENTS LIST PAGE
-- ============================================================================
-- Filters: InvestorEntityId, FundedOrganizationId, Date range, Amount range
-- Sort: InvestmentDate or Amount
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchInvestments]
    @PageNumber INT = 1,
    @PageSize INT = 25,
    @InvestorEntityId INT = NULL,
    @FundedOrganizationId INT = NULL,
    @FundingRoundId INT = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @MinAmount BIGINT = NULL,
    @MaxAmount BIGINT = NULL,
    @SortColumn NVARCHAR(64) = 'AnnouncedOn',
    @SortDirection NVARCHAR(4) = 'DESC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    WITH FilteredInvestments AS (
        SELECT 
            i.InvestmentId,
            i.FundingRoundId,
            i.InvestorEntityId,
            i.OrganizationId AS FundedOrganizationId,
            i.AnnouncedOn,
            i.FundingRoundMoneyRaisedUsd,
            ie.DisplayName AS InvestorName,
            ie.Permalink AS InvestorPermalink,
            ie.EntityType AS InvestorType,
            fe.DisplayName AS FundedOrganizationName,
            fe.Permalink AS FundedOrganizationPermalink,
            m.IsLeadInvestor,
            m.AmountUsd,
            m.PartnerCount,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortColumn = 'AnnouncedOn' AND @SortDirection = 'ASC' THEN i.AnnouncedOn END ASC,
                    CASE WHEN @SortColumn = 'AnnouncedOn' AND @SortDirection = 'DESC' THEN i.AnnouncedOn END DESC,
                    CASE WHEN @SortColumn = 'Amount' AND @SortDirection = 'ASC' THEN m.AmountUsd END ASC,
                    CASE WHEN @SortColumn = 'Amount' AND @SortDirection = 'DESC' THEN m.AmountUsd END DESC
            ) AS RowNum
        FROM cb.Investment i
        INNER JOIN cb.InvestmentMetrics m ON i.InvestmentId = m.InvestmentId
        INNER JOIN cb.Entity ie ON i.InvestorEntityId = ie.EntityId
        INNER JOIN cb.Entity fe ON i.OrganizationId = fe.EntityId
        WHERE (@InvestorEntityId IS NULL OR i.InvestorEntityId = @InvestorEntityId)
          AND (@FundedOrganizationId IS NULL OR i.OrganizationId = @FundedOrganizationId)
          AND (@FundingRoundId IS NULL OR i.FundingRoundId = @FundingRoundId)
          AND (@FromDate IS NULL OR i.AnnouncedOn >= @FromDate)
          AND (@ToDate IS NULL OR i.AnnouncedOn <= @ToDate)
          AND (@MinAmount IS NULL OR m.AmountUsd >= @MinAmount)
          AND (@MaxAmount IS NULL OR m.AmountUsd <= @MaxAmount)
    )
    SELECT *, (SELECT COUNT(*) FROM FilteredInvestments) AS TotalCount
    FROM FilteredInvestments
    WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
    ORDER BY RowNum;
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchOrganizations]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 1. ORGANIZATIONS LIST PAGE
-- ============================================================================
-- Filters: CompanyType, OperatingStatus, CountryCode, RevenueRange, 
--          NumEmployees, FundingStage, FundingTotal range
-- Sort: Rank
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchOrganizations]
    @PageNumber INT = 1,
    @PageSize INT = 25,
    @CompanyType NVARCHAR(64) = NULL,
    @OperatingStatus NVARCHAR(64) = NULL,
    @IpoStatus NVARCHAR(64) = NULL,
    @CountryCode NVARCHAR(10) = NULL,
    @City NVARCHAR(128) = NULL,
    @RevenueRangeCode NVARCHAR(64) = NULL,
    @NumEmployeesEnum NVARCHAR(64) = NULL,
    @FundingStage NVARCHAR(64) = NULL,
    @MinFundingTotalUsd BIGINT = NULL,
    @MaxFundingTotalUsd BIGINT = NULL,
    @HasStockListing BIT = NULL,
    @SearchText NVARCHAR(512) = NULL,
    @SortColumn NVARCHAR(64) = 'Rank',
    @SortDirection NVARCHAR(4) = 'ASC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    -- Use CTE for efficient paging with ROW_NUMBER()
    WITH FilteredOrgs AS (
        SELECT 
            e.EntityId,
            e.Uuid,
            e.DisplayName,
            e.Permalink,
            e.CountryCode,
            e.City,
            e.ImageUrl,
            e.NumArticles,
            o.CompanyType,
            o.OperatingStatus,
            o.IpoStatus,
            o.RevenueRangeCode,
            o.NumEmployeesEnum,
            o.FundingStage,
            o.FundingTotalUsd,
            o.LastFundingAt,
            o.LastFundingType,
            m.Rank,
            m.NumFundingRounds,
            m.NumInvestments,
            m.NumLeadInvestments,
            m.NumAcquisitions,
            m.NumExits,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortColumn = 'Rank' AND @SortDirection = 'ASC' THEN m.Rank END ASC,
                    CASE WHEN @SortColumn = 'Rank' AND @SortDirection = 'DESC' THEN m.Rank END DESC,
                    CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'ASC' THEN e.DisplayName END ASC,
                    CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'DESC' THEN e.DisplayName END DESC,
                    CASE WHEN @SortColumn = 'FundingTotal' AND @SortDirection = 'ASC' THEN o.FundingTotalUsd END ASC,
                    CASE WHEN @SortColumn = 'FundingTotal' AND @SortDirection = 'DESC' THEN o.FundingTotalUsd END DESC
            ) AS RowNum
        FROM cb.Entity e
        INNER JOIN cb.Organization o ON e.EntityId = o.OrganizationId
        INNER JOIN cb.OrganizationMetrics m ON o.OrganizationId = m.OrganizationId
        WHERE e.EntityType = 'organization'
          AND e.IsDeleted = 0
          AND (@CompanyType IS NULL OR o.CompanyType = @CompanyType)
          AND (@OperatingStatus IS NULL OR o.OperatingStatus = @OperatingStatus)
          AND (@IpoStatus IS NULL OR o.IpoStatus = @IpoStatus)
          AND (@CountryCode IS NULL OR e.CountryCode = @CountryCode)
          AND (@City IS NULL OR e.City LIKE @City + '%')
          AND (@RevenueRangeCode IS NULL OR o.RevenueRangeCode = @RevenueRangeCode)
          AND (@NumEmployeesEnum IS NULL OR o.NumEmployeesEnum = @NumEmployeesEnum)
          AND (@FundingStage IS NULL OR o.FundingStage = @FundingStage)
          AND (@MinFundingTotalUsd IS NULL OR o.FundingTotalUsd >= @MinFundingTotalUsd)
          AND (@MaxFundingTotalUsd IS NULL OR o.FundingTotalUsd <= @MaxFundingTotalUsd)
          AND (@SearchText IS NULL OR e.DisplayName LIKE @SearchText + '%')
    )
    SELECT 
        EntityId, Uuid, DisplayName, Permalink, CountryCode, City, ImageUrl,
        CompanyType, OperatingStatus, IpoStatus, RevenueRangeCode, NumEmployeesEnum,
        FundingStage, FundingTotalUsd, LastFundingAt, LastFundingType,
        Rank, NumFundingRounds, NumInvestments, NumLeadInvestments, 
        NumAcquisitions, NumExits, NumArticles,
        (SELECT COUNT(*) FROM FilteredOrgs) AS TotalCount
    FROM FilteredOrgs
    WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
    ORDER BY RowNum;
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchOrganizations_Keyset]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 9. KEYSET PAGINATION EXAMPLE (For Very Large Result Sets)
-- ============================================================================
-- More efficient than OFFSET for deep paging (> 1000 pages)
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchOrganizations_Keyset]
    @LastRank FLOAT = NULL,  -- Last seen rank from previous page
    @PageSize INT = 25,
    @CompanyType NVARCHAR(64) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @LastRank IS NULL
    BEGIN
        -- First page
        SELECT TOP (@PageSize)
            e.EntityId, e.DisplayName, e.Permalink, o.CompanyType, m.Rank
        FROM cb.Entity e
        INNER JOIN cb.Organization o ON e.EntityId = o.OrganizationId
        INNER JOIN cb.OrganizationMetrics m ON o.OrganizationId = m.OrganizationId
        WHERE e.EntityType = 'organization'
          AND e.IsDeleted = 0
          AND (@CompanyType IS NULL OR o.CompanyType = @CompanyType)
        ORDER BY m.Rank;
    END
    ELSE
    BEGIN
        -- Subsequent pages - use keyset pagination
        SELECT TOP (@PageSize)
            e.EntityId, e.DisplayName, e.Permalink, o.CompanyType, m.Rank
        FROM cb.Entity e
        INNER JOIN cb.Organization o ON e.EntityId = o.OrganizationId
        INNER JOIN cb.OrganizationMetrics m ON o.OrganizationId = m.OrganizationId
        WHERE e.EntityType = 'organization'
          AND e.IsDeleted = 0
          AND (@CompanyType IS NULL OR o.CompanyType = @CompanyType)
          AND m.Rank > @LastRank  -- Key: Start after last seen rank
        ORDER BY m.Rank;
    END
END

GO
/****** Object:  StoredProcedure [cb].[usp_SearchPeople]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 2. PEOPLE LIST PAGE
-- ============================================================================
-- Filters: Gender, HasPrimaryOrg, Min/Max NumFoundedOrganizations, 
--          Min/Max NumInvestments
-- Sort: RankPerson
-- ============================================================================

CREATE   PROCEDURE [cb].[usp_SearchPeople]
    @PageNumber INT = 1,
    @PageSize INT = 25,
    @Gender NVARCHAR(32) = NULL,
    @PrimaryOrganizationId INT = NULL,
    @MinFoundedOrgs INT = NULL,
    @MaxFoundedOrgs INT = NULL,
    @MinInvestments INT = NULL,
    @MaxInvestments INT = NULL,
    @IsInvestor BIT = NULL,
    @HasEventAppearances BIT = NULL,
    @SearchText NVARCHAR(512) = NULL,
    @SortColumn NVARCHAR(64) = 'RankPerson',
    @SortDirection NVARCHAR(4) = 'ASC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    WITH FilteredPeople AS (
        SELECT 
            e.EntityId,
            e.Uuid,
            e.DisplayName,
            e.Permalink,
            e.ImageUrl,
            p.PersonId,
            p.FirstName,
            p.LastName,
            p.Gender,
            p.PrimaryOrganizationId,
            p.PrimaryJobTitle,
            po.DisplayName AS PrimaryOrganizationName,
            m.RankPerson,
            m.NumJobs,
            m.NumCurrentJobs,
            m.NumFoundedOrganizations,
            m.NumInvestments,
            m.NumLeadInvestments,
            m.NumPartnerInvestments,
            m.NumEventAppearances,
            m.NumArticles,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortColumn = 'RankPerson' AND @SortDirection = 'ASC' THEN m.RankPerson END ASC,
                    CASE WHEN @SortColumn = 'RankPerson' AND @SortDirection = 'DESC' THEN m.RankPerson END DESC,
                    CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'ASC' THEN e.DisplayName END ASC,
                    CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'DESC' THEN e.DisplayName END DESC
            ) AS RowNum
        FROM cb.Entity e
        INNER JOIN cb.Person p ON e.EntityId = p.PersonId
        INNER JOIN cb.PersonMetrics m ON p.PersonId = m.PersonId
        LEFT JOIN cb.Entity po ON p.PrimaryOrganizationId = po.EntityId
        WHERE e.EntityType = 'person'
          AND e.IsDeleted = 0
          AND (@Gender IS NULL OR p.Gender = @Gender)
          AND (@PrimaryOrganizationId IS NULL OR p.PrimaryOrganizationId = @PrimaryOrganizationId)
          AND (@MinFoundedOrgs IS NULL OR m.NumFoundedOrganizations >= @MinFoundedOrgs)
          AND (@MaxFoundedOrgs IS NULL OR m.NumFoundedOrganizations <= @MaxFoundedOrgs)
          AND (@MinInvestments IS NULL OR m.NumInvestments >= @MinInvestments)
          AND (@MaxInvestments IS NULL OR m.NumInvestments <= @MaxInvestments)
          AND (@IsInvestor IS NULL OR (@IsInvestor = 1 AND (m.NumInvestments > 0 OR m.NumPartnerInvestments > 0)))
          AND (@HasEventAppearances IS NULL OR (@HasEventAppearances = 1 AND m.NumEventAppearances > 0))
          AND (@SearchText IS NULL OR e.DisplayName LIKE @SearchText + '%')
    )
    SELECT *, (SELECT COUNT(*) FROM FilteredPeople) AS TotalCount
    FROM FilteredPeople
    WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
    ORDER BY RowNum;
END

GO
/****** Object:  StoredProcedure [stg].[usp_LoadJsonlFile_Linux]    Script Date: 2/4/2026 10:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [stg].[usp_LoadJsonlFile_Linux]
    @TargetTable SYSNAME,         -- e.g. 'stg.CompaniesJsonl'
    @FilePath    NVARCHAR(4000)    -- e.g. '/var/upload/Companies/companies1.jsonl'
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @sql NVARCHAR(MAX) = N'
    CREATE TABLE #t (JsonLine NVARCHAR(MAX) NOT NULL);

    BULK INSERT #t
    FROM ' + QUOTENAME(@FilePath,'''') + N'
    WITH (
        DATAFILETYPE = ''char'',
        FIELDTERMINATOR = ''0x1f'',   -- unlikely to appear in JSON; makes whole line 1 field
        ROWTERMINATOR   = ''0x0a'',
        TABLOCK,
        BATCHSIZE = 200000,
        ROWS_PER_BATCH = 200000,
        KEEPNULLS
    );

    INSERT INTO ' + @TargetTable + N' (JsonLine, FilePath)
    SELECT JsonLine, ' + QUOTENAME(@FilePath,'''') + N'
    FROM #t;

    DROP TABLE #t;
    ';
    EXEC sys.sp_executesql @sql;
END
GO
